In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import numpy as np
from nltk.stem import WordNetLemmatizer

In [17]:
df = pd.read_csv('/Users/justinchen/Desktop/Title-Pages/BooksData1.csv')
df = df.drop(['Image'], axis = 1)
df.dropna(axis=0, how='all', inplace=True)
df.replace(np.nan, '', regex=True, inplace = True)
df

,Date,Title,Subtitle,Author,Transcript
0,1709,The Golden Spy,"Or, a Political Journal of the British Nights ...",['Charles Gildon'],"The Gold Spy: Or, a Political Journal of the B..."
1,1705,The Whole Art of Dying. In Two Parts. The Firs...,,['ART.'],THE WHOLE art of dying. In two PARTS. The Firs...
2,1707,"A Vindication of the Eternal Law, and Everlast...",,['John BEART'],"A VINDICATION OF THE eternal law, and everlast..."
3,1701,The Mysteries of Opium Reveal'd,"By Dr. John Jones, ...",['John Jones'],THE MYSTERIES OF OPIUM Reveald BY Dr. JOHN JON...
4,1704,"A Collection of Voyages and Travels, Some Now ...",,,"A Collection of Voyages and Travels, Some now ..."
...,...,...,...,...,...
143,1845,A Grammar of the Language of Burmah,,['Thomas Latter'],"A GRAMMAR OF THE LANGUAGE OF BURMAH, BY THOMAS..."
144,1846,An American Dictionary of the English Language,"Exhibiting the Origin, Orthography, Pronunciat...",['Noah Webster'],AN AMERICAN DICTIONARY OF THE ENGLISH LANGUAGE...
145,1845,Memoirs of the Lady Hester Stanhope,As Related by Herself in Conversations with He...,['Lady Hester Stanhope'],"MEMOIRS OF THE LADY HESTER STANHOPE, AS RELATE..."
146,1847,"Mary Anne Wellington, the soldier's daughter, ...",,['Richard COBBOLD'],"MARY ANNE WELLINGTON, THE SOLDIER'S DAUGHTER, ..."
147,1849,The Genuine Works of Hippocrates,,['Hippocrates'],THE GENUINE WORKS OF HIPPOCRATES TRANSLATED FR...

In [19]:
df2 = pd.read_csv('/Users/justinchen/Desktop/Title-Pages/BooksData2.csv')
df2 = df2.drop(['Image'], axis = 1)
df2 = df2.drop(['URL'], axis = 1)
df2.dropna(axis=0, how='all', inplace=True)
df2.replace(np.nan, '', regex=True, inplace = True)
df2

,Date,Title,Subtitle,Author,Transcript
0,1850.0,,,,"The Scarlet Letter, a Romance. By Nathaniel Ha..."
1,1851.0,,,,"THE HOUSE THE SEVEN GABLES, A ROMANCE. NATHANI..."
2,1851.0,,,,"MOBY DICK; OR, THE WHALE. BY HERMAN MELVILLE, ..."
3,1853.0,,,,"Bartleby, the Scrivener: A Story of Wall Street"
4,1853.0,,,,No. I. MARCH. Price 1s. BLEAK HOUSE BY CHARLES...
...,...,...,...,...,...
182,2014.0,,,,The Sixth Extinction: An Unnatural History
183,2015.0,,,,The Argonauts
184,2016.0,,,,The Underground Railroad
185,2016.0,,,,Autumn
186,2018.0,,,,Normal People

In [20]:
data = pd.concat([df, df2])
data

,Date,Title,Subtitle,Author,Transcript
0,1709.0,The Golden Spy,"Or, a Political Journal of the British Nights ...",['Charles Gildon'],"The Gold Spy: Or, a Political Journal of the B..."
1,1705.0,The Whole Art of Dying. In Two Parts. The Firs...,,['ART.'],THE WHOLE art of dying. In two PARTS. The Firs...
2,1707.0,"A Vindication of the Eternal Law, and Everlast...",,['John BEART'],"A VINDICATION OF THE eternal law, and everlast..."
3,1701.0,The Mysteries of Opium Reveal'd,"By Dr. John Jones, ...",['John Jones'],THE MYSTERIES OF OPIUM Reveald BY Dr. JOHN JON...
4,1704.0,"A Collection of Voyages and Travels, Some Now ...",,,"A Collection of Voyages and Travels, Some now ..."
...,...,...,...,...,...
182,2014.0,,,,The Sixth Extinction: An Unnatural History
183,2015.0,,,,The Argonauts
184,2016.0,,,,The Underground Railroad
185,2016.0,,,,Autumn
186,2018.0,,,,Normal People

In [21]:
def len_title(df):
    len_list = []
    for title in df['Title']:
        wordList = title.split()
        len_list.append(len(wordList))
    df['Title Length'] = len_list

def len_subtitle(df):
    len_list = []
    for title in df['Subtitle']:
        wordList = title.split()
        len_list.append(len(wordList))
    df['Subtitle Length'] = len_list
    
# combination of title and subtitle, but also includes publishing info, author, etc.
def len_cover(df):
    len_list = []
    for title in df['Transcript']:
        wordList = title.split()
        len_list.append(len(wordList))
    df['Words in Whole Cover'] = len_list

In [22]:
len_title(data)
len_subtitle(data)
len_cover(data)
data.head()

,Date,Title,Subtitle,Author,Transcript,Title Length,Subtitle Length,Words in Whole Cover
0,1709.0,The Golden Spy,"Or, a Political Journal of the British Nights ...",['Charles Gildon'],"The Gold Spy: Or, a Political Journal of the B...",3,35,64
1,1705.0,The Whole Art of Dying. In Two Parts. The Firs...,,['ART.'],THE WHOLE art of dying. In two PARTS. The Firs...,71,0,151
2,1707.0,"A Vindication of the Eternal Law, and Everlast...",,['John BEART'],"A VINDICATION OF THE eternal law, and everlast...",10,0,75
3,1701.0,The Mysteries of Opium Reveal'd,"By Dr. John Jones, ...",['John Jones'],THE MYSTERIES OF OPIUM Reveald BY Dr. JOHN JON...,5,5,116
4,1704.0,"A Collection of Voyages and Travels, Some Now ...",,,"A Collection of Voyages and Travels, Some now ...",48,0,116

In [23]:
import re
#removing stopwords and urls, lemmatization, making lowercase 
stop_words = stopwords.words('english')
lemmatizer = WordNetLemmatizer()

def preprocessing(text, stem=False):
    text = str(text).lower().strip()
    tokens = []
    for token in text.split():
        #Substituting multiple spaces with single space
        token = re.sub(r'\s+', ' ', token, flags=re.I)
        if token not in stop_words:
            if stem:
                tokens.append(lemmatizer.lemmatize(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [24]:
from operator import itemgetter
def freq_words(df, N):
    word_dict = {}
    for title in df['Transcript']:
        wordList = title.lower().split()
        for word in wordList:
            if word in word_dict.keys():
                word_dict[word] += 1
            else:
                word_dict[word] = 1
    final_dict = dict(sorted(word_dict.items(), key = itemgetter(1), reverse=True)[:N])
    return final_dict

In [25]:
freq_words(data, 10)

{'the': 1197,
 'of': 917,
 'and': 816,
 'in': 370,
 'by': 344,
 'a': 274,
 'to': 256,
 'for': 176,
 'with': 158,
 'printed': 119}

In [26]:
def freq_words_processed(df, N):
    df1 = df.copy()
    df1.Transcript = df1.Transcript.apply(lambda x: preprocessing(x))
    word_dict = {}
    for title in df1['Transcript']:
        wordList = title.split()
        for word in wordList:
            if word in word_dict.keys():
                word_dict[word] += 1
            else:
                word_dict[word] = 1
    final_dict = dict(sorted(word_dict.items(), key = itemgetter(1), reverse=True)[:N])
    return final_dict

In [27]:
freq_words_processed(data, 15)

{'printed': 119,
 'london:': 114,
 'j.': 80,
 'new': 75,
 'english': 68,
 '&': 51,
 'author': 49,
 'w.': 48,
 'r.': 42,
 'vol.': 41,
 'i.': 38,
 '&c.': 38,
 't.': 35,
 'john': 32,
 'york': 32}

In [28]:
from statistics import mean 
def avg_len_title(df):
    len_list = []
    for title in df['Title']:
        wordList = title.split()
        len_list.append(len(wordList))
    return mean(len_list)

def avg_len_subtitle(df):
    len_list = []
    for title in df['Subtitle']:
        wordList = title.split()
        len_list.append(len(wordList))
    return mean(len_list)
    
# combination of title and subtitle, but also includes publishing info, author, etc.
def avg_len_cover(df):
    len_list = []
    for title in df['Transcript']:
        wordList = title.split()
        len_list.append(len(wordList))
    return mean(len_list)

In [44]:
data[310:320]

,Date,Title,Subtitle,Author,Transcript,Title Length,Subtitle Length,Words in Whole Cover
178,2013.0,,,,Tenth of December,0,0,3
179,2013.0,,,,Life After Life,0,0,3
180,2015.0,,,,Sapiens: A Brief History of Humankind,0,0,6
181,2015.0,,,,Between the World And Me,0,0,5
182,2014.0,,,,The Sixth Extinction: An Unnatural History,0,0,6
183,2015.0,,,,The Argonauts,0,0,2
184,2016.0,,,,The Underground Railroad,0,0,3
185,2016.0,,,,Autumn,0,0,1
186,2018.0,,,,Normal People,0,0,2

In [47]:
per_decade = pd.DataFrame(columns = ['Date', 'Avg. Title Len', 'Avg. Subtitle Len', 'Avg. Words in Whole Cover', 'Most Freq Words', 'Most Freq Word(prepro)'])
for a in range(10, 330, 10):
    data1 = data.iloc[a-10:a]
    t_len = avg_len_title(data1)
    st_len = avg_len_subtitle(data1)
    c_len = avg_len_cover(data1)
    freqwords = freq_words(data1, 5)
    prepro_freq = freq_words_processed(data1, 5)
    period = 1700 + (a-10)
    data2 = pd.DataFrame({'Date': period, 'Avg. Title Len': t_len, 'Avg. Subtitle Len': st_len, 'Avg. Words in Whole Cover': c_len, 'Most Freq Words': [freqwords], 'Most Freq Word(prepro)': [prepro_freq]})
    per_decade = pd.concat([per_decade, data2], ignore_index = True)

In [48]:
per_decade

,Date,Avg. Title Len,Avg. Subtitle Len,Avg. Words in Whole Cover,Most Freq Words,Most Freq Word(prepro)
0,1700,21.3,12.4,109.800000,"{'the': 83, 'of': 62, 'and': 61, 'in': 32, 'to...","{'printed': 10, 'london:': 9, 'whole': 5, 'sev..."
1,1710,15.7,23.7,97.100000,"{'the': 95, 'of': 61, 'and': 55, 'in': 32, 'a'...","{'printed': 11, 'english': 7, 'london:': 5, 'k..."
2,1720,11.8,17.1,99.100000,"{'the': 59, 'of': 52, 'and': 42, 'in': 19, 'to...","{'de': 10, 'printed': 8, 'london:': 6, '&c.': ..."
3,1730,9.8,9.1,120.500000,"{'the': 94, 'of': 64, 'and': 56, 'in': 42, 'by...","{'printed': 9, 'london:': 7, '&c.': 5, 'royal'..."
4,1740,12.0,17.9,127.900000,"{'the': 104, 'of': 91, 'and': 82, 'in': 37, 't...","{'printed': 10, 'english': 8, 'london:': 7, 's..."
5,1750,24.1,15.8,128.800000,"{'the': 96, 'of': 66, 'and': 64, 'in': 38, 'to...","{'printed': 11, 'english': 8, 'london:': 8, 'p..."
6,1760,20.7,1.6,105.600000,"{'the': 97, 'of': 59, 'and': 41, 'by': 28, 'in...","{'printed': 10, '&c.': 9, 'english': 8, 'londo..."
7,1770,13.0,10.9,82.500000,"{'the': 54, 'and': 44, 'of': 37, 'in': 26, 'a'...","{'printed': 9, 'thomas': 5, 't.': 4, 'john': 3..."
8,1780,11.4,6.8,55.400000,"{'of': 42, 'the': 41, 'and': 19, 'a': 16, 'by'...","{'printed': 10, 'j.': 8, 'london:': 7, 'new': ..."
9,1790,13.3,33.3,86.500000,"{'the': 57, 'of': 46, 'and': 45, 'a': 17, 'by'...","{'printed': 9, 'london:': 8, 'j.': 8, 'w.': 5,..."
10,1800,8.5,17.8,124.800000,"{'and': 85, 'the': 75, 'of': 62, 'by': 20, 'j....","{'j.': 20, 'w.': 11, 'r.': 10, 'printed': 8, '..."
11,1810,8.5,11.6,55.300000,"{'the': 43, 'of': 38, 'and': 34, 'by': 17, 'to...","{'london:': 7, 'printed': 6, 'j.': 4, 'united'..."
12,1820,15.2,10.9,97.700000,"{'the': 60, 'and': 59, 'of': 43, 'to': 22, 'by...","{'j.': 12, 'english': 9, 'r.': 9, 'w.': 8, 'co..."
13,1830,9.8,9.0,56.500000,"{'the': 42, 'of': 38, 'and': 26, 'by': 14, 'in...","{'london:': 6, '&': 5, 's.': 3, 'new': 3, 'r.'..."
14,1840,7.1,5.6,53.300000,"{'the': 35, 'and': 33, 'of': 30, 'by': 12, 'in...","{'london:': 5, 'co.': 5, 'author': 4, 'words':..."
15,1850,0.0,0.0,42.300000,"{'the': 23, 'of': 22, 'by': 12, 'and': 10, 'in...","{'author': 6, 'london:': 6, 'charles': 4, 'h.'..."
16,1860,0.0,0.0,30.300000,"{'by': 11, 'and': 11, 'of': 11, 'the': 8, 'lon...","{'london:': 7, 'right': 5, 'volumes.': 4, 'vol..."
17,1870,0.0,0.0,33.200000,"{'of': 17, 'the': 15, 'and': 15, 'by': 13, 'au...","{'author': 7, 'etc.': 5, '&': 5, 'london:': 4,..."
18,1880,0.0,0.0,29.800000,"{'of': 17, 'the': 13, 'and': 11, 'by': 11, '""t...","{'""the': 5, 'new': 4, '&': 4, '[all': 4, 'righ..."
19,1890,0.0,0.0,24.500000,"{'of': 13, 'the': 12, 'by': 12, 'and': 8, 'new...","{'new': 6, 'london': 5, 'co.': 4, 'york': 4, '..."
20,1900,0.0,0.0,25.600000,"{'the': 17, 'by': 16, 'of': 14, 'new': 8, 'yor...","{'new': 8, 'york': 8, 'company': 5, '&': 5, '""..."
21,1910,0.0,0.0,20.500000,"{'by': 14, 'of': 10, 'the': 10, 'new': 7, 'a': 6}","{'new': 7, '&': 6, 'york': 6, 'author': 3, 'pu..."
22,1920,0.0,0.0,12.900000,"{'the': 8, 'by': 5, 'new': 5, 'york': 4, 'virg...","{'new': 5, 'york': 4, 'virginia': 2, 'woolf': ..."
23,1930,0.0,0.0,3.500000,"{'the': 7, 'is': 2, 'a': 2, 'tender': 1, 'nigh...","{'tender': 1, 'night': 1, 'gone': 1, 'wind': 1..."
24,1940,0.0,0.0,4.500000,"{'the': 7, 'a': 3, 'and': 2, 'novel': 2, 'by': 2}","{'novel': 2, 'stuart': 1, 'little': 1, 'animal..."
25,1950,0.0,0.0,3.400000,"{'the': 3, 'a': 3, 'of': 2, 'fahrenheit': 1, '...","{'fahrenheit': 1, '451': 1, 'lord': 1, 'flies'..."
26,1960,0.0,0.0,5.900000,"{'the': 6, 'a': 3, 'in': 2, 'dune': 1, 'cold': 1}","{'dune': 1, 'cold': 1, 'blood': 1, 'outsiders'..."
27,1970,0.0,0.0,3.500000,"{'the': 5, 'a': 4, 'of': 2, 'breakfast': 1, 'c...","{'breakfast': 1, 'champions': 1, 'carrie': 1, ..."
28,1980,0.0,0.0,3.100000,"{'the': 8, 'club': 2, 'blood': 1, 'meridian': ...","{'club': 2, 'blood': 1, 'meridian': 1, 'evenin..."
29,1990,0.0,0.0,5.400000,"{'the': 8, 'of': 6, 'a': 2, 'and': 2, 'in': 2}","{'bridget': 1, 'jones's': 1, 'diary': 1, 'game..."
30,2000,0.0,0.0,5.100000,"{'the': 8, 'of': 4, 'a': 3, 'fingersmith': 1, ...","{'fingersmith': 1, 'gilead': 1, 'cloud': 1, 'a..."
31,2010,0.0,0.0,3.444444,"{'the': 4, 'of': 2, 'life': 2, 'history': 2, '...","{'life': 2, 'history': 2, 'tenth': 1, 'decembe..."

In [43]:
per_decade.to_csv('decade_data2.csv')